BACKUP FILE

MASTER BLADE

@yield('contentheaderadmin')

 <!--  ADMIN PUNYA -->
    <!-- <div id="right-panel" class="right-panel">    
        <header id="header" class="header">
            @include('template.partial.right-panel')
        </header> 
        <div class="content" >
            <div class="animated fadeIn">   
                @yield('contentheaderadmin')
                @yield('content')
            </div>          
        </div>   
        <div class="clearfix"></div>       
        <footer class="site-footer">
            <div class="footer-inner bg-white">
                <div class="row">
                    <div class="col-sm-6">
                        Copyright &copy; 2019 Kelompok 2 SPK
                    </div>
                </div>
            </div>
        </footer>
    </div> -->
